body {
  background-image: url(../img/elegant-white-background-with-blue-wave-lines.jpg); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}
/* Padding */
.p-20 {
  padding: 20px;
}
.iconBlue {
  color: #0285dd;
}
/* Margin Y-Axis */
.my-2 {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

/* Displays */
.d-none {
  display: none;
}

/* Label Focus Color */
#channelNameInput:focus + label,
#accountName:focus + label,
#channelMsg:focus + label {
  color: #4eaeee;
}

/* Label Underline Focus Color */
#channelNameInput:focus,
#accountName:focus,
#channelMsg:focus {
  border-bottom: 1px solid #4eaeee;
  box-shadow: 0 1px 0 0 #4eaeee;
}

/* Channel Join Button */
#joinChannelBtn,
#sendMsgBtn {
  background-color: #4eaeee;
  color: white;
  border-radius: 5px;
}

#joinChannelBtn:hover,
#sendMsgBtn:hover {
  background-color: #0285dd;
}

/* Navbar */
#navbar {
  background: #0285dd;
}

.brand-logo {
  margin-left: 10px;
}
.box {
  border: #71c4ff solid 2px;
  border-radius: 1rem;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  margin-top: 1rem;
}
.box h5 {
  font-weight: bold;
  text-align: center;
}
footer {
  text-align: center;
  margin: 1rem;
  bottom: 0;
  right: 0;
  left: 0;
}
#joinChatroom{
  border-radius: 1rem;
  padding: 1rem;
}
/* Outer Div For Canvas  */
#outer-div {
  margin: 0;
  overflow: hidden;
  z-index: 1;
  border-radius: 1rem;
  border: 2px solid #0c9dfd;
  height: 88vh;
  width: 100%;
}

/* Canvas Background */
#whiteboard-canvas {
  background-color: white;
}

/* Canvas Cursor */
#whiteboard-canvas:active,
#whiteboard-canvas:focus {
  cursor: crosshair;
}

/* Tools */
#tools {
  z-index: 10;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  left: 40px;
  margin-top: 10px;
  background: #cccccc;
}

/* Font Size Big */
.font-size-big {
  font-size: 23px;
  margin-left: 10px;
}

/* Tool Buttons */
.clearBtn,
.colorBtn,
.eraserBtn {
  background-color: #ffffff;
  color: #0c9dfd;
  border-radius: 5px;
  border: 1px solid #ffffff;
}

.clearBtn:hover,
.clearBtn:focus,
.colorBtn:hover,
.colorBtn:focus,
.eraserBtn:hover,
.eraserBtn:focus {
  background-color: #0c9dfd;
  color: #ffffff;
  border: 1px solid #0c9dfd;
}

.faq {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 0rem;
}
.collapsible-body{
  background-color: #ffffff;
  padding: 1rem;
}
.collapsible{
  width: 50%;
}
